$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$gutter:.5em;

.u-grid
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -1 * $gutter;
	margin-left: -1 * $gutter;
	margin-top: -1 * $gutter;
}

.u-nogutter
{
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
}

.u-nogutter > .u-col, .u-nogutter>[class*="u-col-"]
{
	padding: 0;
}

.u-dir-rev
{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.u-dir-col
{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.u-dir-col-rev
{
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

.u-justify-start
{
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.u-justify-end
{
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.u-justify-center
{
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.u-justify-between
{
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.u-justify-around
{
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.u-justify-even
{
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.u-align-start
{
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.u-align-end
{
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.u-align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.u-align-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.u-align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.u-col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: $gutter;
}

.u-col-fixed {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: $gutter;
}

.u-col-align-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.u-col-align-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.u-col-align-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.u-col-align-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.u-col-align-stretch {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.u-col-1,
.u-col-2,
.u-col-3,
.u-col-4,
.u-col-5,
.u-col-6,
.u-col-7,
.u-col-8,
.u-col-9,
.u-col-10,
.u-col-11,
.u-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: $gutter;
}

.u-col-1 {
    width: 8.3333%;
}

.u-col-2 {
    width: 16.6667%;
}

.u-col-3 {
    width: 25%;
}

.u-col-4 {
    width: 33.3333%;
}

.u-col-5 {
    width: 41.6667%;
}

.u-col-6 {
    width: 50%;
}

.u-col-7 {
    width: 58.3333%;
}

.u-col-8 {
    width: 66.6667%;
}

.u-col-9 {
    width: 75%;
}

.u-col-10 {
    width: 83.3333%;
}

.u-col-11 {
    width: 91.6667%;
}

.u-col-12 {
    width: 100%;
}

.u-offset-12 {
    margin-left: 100%;
}

.u-offset-11 {
    margin-left: 91.66666667%;
}

.u-offset-10 {
    margin-left: 83.33333333%;
}

.u-offset-9 {
    margin-left: 75%;
}

.u-offset-8 {
    margin-left: 66.66666667%;
}

.u-offset-7 {
    margin-left: 58.33333333%;
}

.u-offset-6 {
    margin-left: 50%;
}

.u-offset-5 {
    margin-left: 41.66666667%;
}

.u-offset-4 {
    margin-left: 33.33333333%;
}

.u-offset-3 {
    margin-left: 25%;
}

.u-offset-2 {
    margin-left: 16.66666667%;
}

.u-offset-1 {
    margin-left: 8.33333333%;
}

.u-offset-0 {
    margin-left: 0%;
}

.u-sm-1,
.u-sm-2,
.u-sm-3,
.u-sm-4,
.u-sm-5,
.u-sm-6,
.u-sm-7,
.u-sm-8,
.u-sm-9,
.u-sm-10,
.u-sm-11,
.u-sm-12,
.u-md-1,
.u-md-2,
.u-md-3,
.u-md-4,
.u-md-5,
.u-md-6,
.u-md-7,
.u-md-8,
.u-md-9,
.u-md-10,
.u-md-11,
.u-md-12,
.u-lg-1,
.u-lg-2,
.u-lg-3,
.u-lg-4,
.u-lg-5,
.u-lg-6,
.u-lg-7,
.u-lg-8,
.u-lg-9,
.u-lg-10,
.u-lg-11,
.u-lg-12,
.u-xl-1,
.u-xl-2,
.u-xl-3,
.u-xl-4,
.u-xl-5,
.u-xl-6,
.u-xl-7,
.u-xl-8,
.u-xl-9,
.u-xl-10,
.u-xl-11,
.u-xl-12 {
    padding: $gutter;
}

.u-col-nogutter {
    padding: 0;
}

@media screen and (min-width: $sm) {

    .u-sm-1,
    .u-sm-2,
    .u-sm-3,
    .u-sm-4,
    .u-sm-5,
    .u-sm-6,
    .u-sm-7,
    .u-sm-8,
    .u-sm-9,
    .u-sm-10,
    .u-sm-11,
    .u-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .u-sm-1 {
        width: 8.3333%;
    }

    .u-sm-2 {
        width: 16.6667%;
    }

    .u-sm-3 {
        width: 25%;
    }

    .u-sm-4 {
        width: 33.3333%;
    }

    .u-sm-5 {
        width: 41.6667%;
    }

    .u-sm-6 {
        width: 50%;
    }

    .u-sm-7 {
        width: 58.3333%;
    }

    .u-sm-8 {
        width: 66.6667%;
    }

    .u-sm-9 {
        width: 75%;
    }

    .u-sm-10 {
        width: 83.3333%;
    }

    .u-sm-11 {
        width: 91.6667%;
    }

    .u-sm-12 {
        width: 100%;
    }

    .u-sm-offset-12 {
        margin-left: 100%;
    }

    .u-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .u-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .u-sm-offset-9 {
        margin-left: 75%;
    }

    .u-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .u-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .u-sm-offset-6 {
        margin-left: 50%;
    }

    .u-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .u-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .u-sm-offset-3 {
        margin-left: 25%;
    }

    .u-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .u-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .u-sm-offset-0 {
        margin-left: 0%;
    }
}

@media screen and (min-width: $md) {

    .u-md-1,
    .u-md-2,
    .u-md-3,
    .u-md-4,
    .u-md-5,
    .u-md-6,
    .u-md-7,
    .u-md-8,
    .u-md-9,
    .u-md-10,
    .u-md-11,
    .u-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .u-md-1 {
        width: 8.3333%;
    }

    .u-md-2 {
        width: 16.6667%;
    }

    .u-md-3 {
        width: 25%;
    }

    .u-md-4 {
        width: 33.3333%;
    }

    .u-md-5 {
        width: 41.6667%;
    }

    .u-md-6 {
        width: 50%;
    }

    .u-md-7 {
        width: 58.3333%;
    }

    .u-md-8 {
        width: 66.6667%;
    }

    .u-md-9 {
        width: 75%;
    }

    .u-md-10 {
        width: 83.3333%;
    }

    .u-md-11 {
        width: 91.6667%;
    }

    .u-md-12 {
        width: 100%;
    }

    .u-md-offset-12 {
        margin-left: 100%;
    }

    .u-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .u-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .u-md-offset-9 {
        margin-left: 75%;
    }

    .u-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .u-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .u-md-offset-6 {
        margin-left: 50%;
    }

    .u-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .u-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .u-md-offset-3 {
        margin-left: 25%;
    }

    .u-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .u-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .u-md-offset-0 {
        margin-left: 0%;
    }
}

@media screen and (min-width: $lg) {

    .u-lg-1,
    .u-lg-2,
    .u-lg-3,
    .u-lg-4,
    .u-lg-5,
    .u-lg-6,
    .u-lg-7,
    .u-lg-8,
    .u-lg-9,
    .u-lg-10,
    .u-lg-11,
    .u-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .u-lg-1 {
        width: 8.3333%;
    }

    .u-lg-2 {
        width: 16.6667%;
    }

    .u-lg-3 {
        width: 25%;
    }

    .u-lg-4 {
        width: 33.3333%;
    }

    .u-lg-5 {
        width: 41.6667%;
    }

    .u-lg-6 {
        width: 50%;
    }

    .u-lg-7 {
        width: 58.3333%;
    }

    .u-lg-8 {
        width: 66.6667%;
    }

    .u-lg-9 {
        width: 75%;
    }

    .u-lg-10 {
        width: 83.3333%;
    }

    .u-lg-11 {
        width: 91.6667%;
    }

    .u-lg-12 {
        width: 100%;
    }

    .u-lg-offset-12 {
        margin-left: 100%;
    }

    .u-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .u-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .u-lg-offset-9 {
        margin-left: 75%;
    }

    .u-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .u-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .u-lg-offset-6 {
        margin-left: 50%;
    }

    .u-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .u-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .u-lg-offset-3 {
        margin-left: 25%;
    }

    .u-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .u-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .u-lg-offset-0 {
        margin-left: 0%;
    }
}

@media screen and (min-width: $xl) {

    .u-xl-1,
    .u-xl-2,
    .u-xl-3,
    .u-xl-4,
    .u-xl-5,
    .u-xl-6,
    .u-xl-7,
    .u-xl-8,
    .u-xl-9,
    .u-xl-10,
    .u-xl-11,
    .u-xl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .u-xl-1 {
        width: 8.3333%;
    }

    .u-xl-2 {
        width: 16.6667%;
    }

    .u-xl-3 {
        width: 25%;
    }

    .u-xl-4 {
        width: 33.3333%;
    }

    .u-xl-5 {
        width: 41.6667%;
    }

    .u-xl-6 {
        width: 50%;
    }

    .u-xl-7 {
        width: 58.3333%;
    }

    .u-xl-8 {
        width: 66.6667%;
    }

    .u-xl-9 {
        width: 75%;
    }

    .u-xl-10 {
        width: 83.3333%;
    }

    .u-xl-11 {
        width: 91.6667%;
    }

    .u-xl-12 {
        width: 100%;
    }

    .u-xl-offset-12 {
        margin-left: 100%;
    }

    .u-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .u-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .u-xl-offset-9 {
        margin-left: 75%;
    }

    .u-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .u-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .u-xl-offset-6 {
        margin-left: 50%;
    }

    .u-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .u-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .u-xl-offset-3 {
        margin-left: 25%;
    }

    .u-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .u-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .u-xl-offset-0 {
        margin-left: 0%;
    }
}
